body {
  background: #302c42;
}
.head-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  gap: 10px 5px;
  border: 1px dashed black;
  justify-content: center;
  padding: 20px;
}
.logo {
  width: 102px;
  height: 103px;
  flex-shrink: 0;
  border: 1px dashed red;
}
.name {
  width: 76px;
  height: 46px;
  flex-shrink: 0;
  border: 1px dashed red;
}
nav ul {
  display: grid;
  grid-template-columns: 46px 62px 100px 55px;
  gap: 40px;
  list-style-type: none;
}
li {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px dashed red;
}
.about {
  width: 46px;
  height: 15px;
}
.services {
  width: 62px;
  height: 15px;
}
.technologies {
  width: 100px;
  height: 15px;
}
.howto {
  width: 55px;
  height: 15px;
}

.button {
  width: 155px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px dashed red;
}
.contact {
  border: 3px solid white;
  color: white;
  background: transparent;
}
.join {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
