body {
  background: #302c42;
}
.head-container {
  display: grid;
  width: 100%;
  height: 200px;
  border: 1px dashed black;
  justify-content: stretch;
}
img {
  width: 102px;
  height: 103px;
  flex-shrink: 0;
  border: 1px dashed red;
}
.name {
  width: 76px;
  height: 46px;
  flex-shrink: 0;
  border: 1px dashed red;
}
li {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px dashed red;
}
.button {
  width: 155px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px dashed red;
}
.contact {
  border: 3px solid white;
  color: white;
  background: transparent;
}
.join {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
