.cell {
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(36, 58, 223, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 5px solid black;
}

.container {
  display: grid;
  grid-template-columns: 100px 30% 1fr;
  grid-template-rows: 200px 100px;
  grid-gap: 10px;
}
